.sao-tooltip {
  border-radius: 8px;
  padding: 8px 12px;
  background-color: var(--sao-palette-color-branding-foreground-900);
  box-shadow: 0 0 0 1px var(--sao-palette-color-branding-foreground-800);
  position: relative;
  width: 74px;
  font-family: 'Work Sans', serif;
  font-size: var(--sao-typography-b4-font-size);
  line-height: var(--sao-typography-b4-line-height);
  color: var(--sao-palette-color-branding-foreground-50);

  &::before {
    content: '';
    position: absolute;
    width: 33px;
    height: 8px;
  }

  &--top {
    &-left {
      &::before {
        background-image: url('data:image/svg+xml,<svg width="33" height="8" viewBox="0 0 33 8" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M16.5 7.31955L11.2788 2.5H21.7212L16.5 7.31955Z" fill="white" stroke="%234B5565"/><path d="M10 0.700012H23L16.5 6.70001L10 0.700012Z" fill="%23364152"/></svg>');
        left: 0;
        bottom: -6px;
      }
    }

    &-center {
      &::before {
        background-image: url('data:image/svg+xml,<svg width="33" height="8" viewBox="0 0 33 8" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M16.5 7.31955L11.2788 2.5H21.7212L16.5 7.31955Z" fill="white" stroke="%234B5565"/><path d="M10 0.700012H23L16.5 6.70001L10 0.700012Z" fill="%23364152"/></svg>');
        left: 50%;
        transform: translateX(-50%);
        bottom: -6px;
      }
    }

    &-right {
      &::before {
        background-image: url('data:image/svg+xml,<svg width="33" height="8" viewBox="0 0 33 8" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M16.5 7.31955L11.2788 2.5H21.7212L16.5 7.31955Z" fill="white" stroke="%234B5565"/><path d="M10 0.700012H23L16.5 6.70001L10 0.700012Z" fill="%23364152"/></svg>');
        right: 0;
        bottom: -6px;
      }
    }
  }

  &--bottom {
    &-left {
      &::before {
        background-image: url('data:image/svg+xml,<svg width="33" height="8" viewBox="0 0 33 8" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M16.5 7.31955L11.2788 2.5H21.7212L16.5 7.31955Z" fill="white" stroke="%234B5565"/><path d="M10 0.700012H23L16.5 6.70001L10 0.700012Z" fill="%23364152"/></svg>');
        left: 0;
        top: -6px;
        transform: rotate(180deg);
      }
    }

    &-center {
      &::before {
        background-image: url('data:image/svg+xml,<svg width="33" height="8" viewBox="0 0 33 8" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M16.5 7.31955L11.2788 2.5H21.7212L16.5 7.31955Z" fill="white" stroke="%234B5565"/><path d="M10 0.700012H23L16.5 6.70001L10 0.700012Z" fill="%23364152"/></svg>');
        left: 50%;
        transform: translateX(-50%) rotate(180deg);
        top: -6px;
      }
    }

    &-right {
      &::before {
        background-image: url('data:image/svg+xml,<svg width="33" height="8" viewBox="0 0 33 8" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M16.5 7.31955L11.2788 2.5H21.7212L16.5 7.31955Z" fill="white" stroke="%234B5565"/><path d="M10 0.700012H23L16.5 6.70001L10 0.700012Z" fill="%23364152"/></svg>');
        right: 0;
        top: -6px;
        transform: rotate(180deg);
      }
    }
  }

  &--left {
    &::before {
      background-image: url('data:image/svg+xml,<svg width="33" height="8" viewBox="0 0 33 8" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M16.5 7.31955L11.2788 2.5H21.7212L16.5 7.31955Z" fill="white" stroke="%234B5565"/><path d="M10 0.700012H23L16.5 6.70001L10 0.700012Z" fill="%23364152"/></svg>');
      top: 50%;
      transform: translateY(-50%) rotate(-90deg);
      right: -19px;
    }
  }

  &--right {
    &::before {
      background-image: url('data:image/svg+xml,<svg width="33" height="8" viewBox="0 0 33 8" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M16.5 7.31955L11.2788 2.5H21.7212L16.5 7.31955Z" fill="white" stroke="%234B5565"/><path d="M10 0.700012H23L16.5 6.70001L10 0.700012Z" fill="%23364152"/></svg>');
      top: 50%;
      transform: translateY(-50%) rotate(90deg);
      left: -19px;
    }
  }
}
