.sao-badge-dot {
  --sao-badge-size: 6px;
  --sao-badge-background-color: transparent;
  --sao-badge-shadow-width: 2px;
  --sao-badge-shadow-color: transparent;
  width: var(--sao-badge-size);
  height: var(--sao-badge-size);
  border-radius: 9999px;
  background-color: var(--sao-badge-background-color);
  box-shadow: 0 0 0 var(--sao-badge-shadow-width) var(--sao-badge-shadow-color);
}
.sao-badge-dot--pink {
  --sao-badge-background-color: var(--sao-palette-color-global-pink-400);
}
.sao-badge-dot--red {
  --sao-badge-background-color: var(--sao-palette-color-branding-error-600);
}
.sao-badge-dot--yellow {
  --sao-badge-background-color: var(--sao-palette-color-global-yellow-300);
}
.sao-badge-dot--orange {
  --sao-badge-background-color: var(--sao-palette-color-branding-warning-600);
}
.sao-badge-dot--cyan {
  --sao-badge-background-color: var(--sao-palette-color-global-cyan-400);
}
.sao-badge-dot--green {
  --sao-badge-background-color: var(--sao-palette-color-branding-success-600);
}
.sao-badge-dot--blue {
  --sao-badge-background-color: var(--sao-palette-color-global-blue-500);
}
.sao-badge-dot--purple {
  --sao-badge-background-color: var(--sao-palette-color-global-purple-500);
}
.sao-badge-dot--lime {
  --sao-badge-background-color: var(--sao-palette-color-global-lime-400);
}
.sao-badge-dot--dark-pink {
  --sao-badge-background-color: var(--sao-palette-color-global-pink-600);
}
.sao-badge-dot--gray {
  --sao-badge-background-color: var(
    --sao-palette-color-branding-foreground-400
  );
}
.sao-badge-dot--processing {
  --sao-badge-background-color: var(--sao-palette-color-global-blue-500);
}
.sao-badge-dot--processing-animating {
  --sao-badge-background-color: var(--sao-palette-color-global-blue-500);
  --sao-badge-shadow-color: rgba(0, 0, 0);
}
.sao-badge-status {
  --sao-badge-background-color: var(
    --sao-palette-color-branding-foreground-400
  );
  display: inline-flex;
  align-items: center;
  gap: 8px;
  color: var(--sao-palette-color-branding-foreground-50);
  font-family: 'Work Sans', serif;
  font-size: var(--sao-typography-b4-font-size);
  line-height: var(--sao-typography-b4-line-height);
  font-weight: 400;
  width: max-content;
}
.sao-badge-status::before {
  content: '';
  width: 6px;
  height: 6px;
  border-radius: 9999px;
  background-color: var(--sao-badge-background-color);
}
.sao-badge-status--success {
  --sao-badge-background-color: var(--sao-palette-color-branding-success-600);
}
.sao-badge-status--error {
  --sao-badge-background-color: var(--sao-palette-color-branding-error-600);
}
.sao-badge-status--warning {
  --sao-badge-background-color: var(--sao-palette-color-branding-warning-600);
}
.sao-badge-status--processing {
  --sao-badge-background-color: var(--sao-palette-color-global-blue-500);
}
.sao-badge-status--default {
  --sao-badge-background-color: var(
    --sao-palette-color-branding-foreground-400
  );
}
.sao-badge-count {
  --sao-badge-padding-y: 0;
  --sao-badge-padding-x: 6px;
  padding: var(--sao-badge-padding-y) var(--sao-badge-padding-x);
  border-radius: 9999px;
  font-family: 'Work Sans', serif;
  font-size: var(--sao-typography-b5-font-size);
  line-height: var(--sao-typography-b5-line-height);
  font-weight: 400;
  color: var(--sao-badge-text-color);
  background-color: var(--sao-badge-background-color);
  box-shadow: 0 0 4px 2px rgba(0, 0, 0);
  width: max-content;
}
.sao-badge-count--small {
  --sao-badge-padding-y: 0;
  --sao-badge-padding-x: 6px;
}
.sao-badge-count--medium {
  --sao-badge-padding-y: 1px;
  --sao-badge-padding-x: 8px;
}
.sao-badge-count--red {
  --sao-badge-text-color: var(--sao-palette-color-branding-foreground-50);
  --sao-badge-background-color: var(--sao-palette-color-global-pink-500);
}
.sao-badge-count--gray {
  --sao-badge-text-color: var(--sao-palette-color-branding-foreground-800);
  --sao-badge-background-color: var(--sao-palette-color-branding-foreground-50);
}
.sao-badge-count--green {
  --sao-badge-text-color: var(--sao-palette-color-branding-foreground-50);
  --sao-badge-background-color: var(--sao-palette-color-branding-success-700);
}
.sao-badge-count--blue-invert {
  --sao-badge-text-color: var(--sao-palette-color-global-blue-500);
  --sao-badge-background-color: var(--sao-palette-color-global-blue-50);
}
.sao-badge-count--blue {
  --sao-badge-text-color: var(--sao-palette-color-branding-foreground-50);
  --sao-badge-background-color: var(--sao-palette-color-global-blue-500);
}
.sao-badge-text {
  padding: 2px 8px;
  border-radius: 4px;
  font-family: 'Work Sans', serif;
  font-weight: 500;
  color: var(--sao-badge-text-color);
  background-color: var(--sao-badge-background-color);
  width: max-content;
}
.sao-badge-text--xsmall {
  font-size: var(--sao-typography-b5-font-size);
  line-height: var(--sao-typography-b5-line-height);
}
.sao-badge-text--small {
  font-size: var(--sao-typography-b4-font-size);
  line-height: var(--sao-typography-b4-line-height);
}
.sao-badge-text--transparent--gray {
  --sao-badge-text-color: var(--sao-palette-color-branding-foreground-50);
  --sao-badge-background-color: var(
    --sao-palette-color-branding-foreground-o24
  );
}
.sao-badge-text--transparent--blue {
  --sao-badge-text-color: var(--sao-palette-color-global-blue-400);
  --sao-badge-background-color: var(--sao-palette-color-global-blue-24);
}
.sao-badge-text--transparent--purple {
  --sao-badge-text-color: var(--sao-palette-color-global-purple-400);
  --sao-badge-background-color: var(--sao-palette-color-global-purple-24);
}
.sao-badge-text--transparent--error {
  --sao-badge-text-color: var(--sao-palette-color-branding-error-500);
  --sao-badge-background-color: var(--sao-palette-color-branding-error-o24);
}
.sao-badge-text--transparent--success {
  --sao-badge-text-color: var(--sao-palette-color-branding-success-500);
  --sao-badge-background-color: var(--sao-palette-color-branding-success-o24);
}
.sao-badge-text--transparent--warning {
  --sao-badge-text-color: var(--sao-palette-color-branding-warning-500);
  --sao-badge-background-color: var(--sao-palette-color-branding-warning-o24);
}
.sao-badge-text--transparent--cyan {
  --sao-badge-text-color: var(--sao-palette-color-global-cyan-400);
  --sao-badge-background-color: var(--sao-palette-color-global-cyan-24);
}
.sao-badge-text--solid--gray {
  --sao-badge-text-color: var(--sao-palette-color-branding-foreground-50);
  --sao-badge-background-color: var(
    --sao-palette-color-branding-foreground-700
  );
}
.sao-badge-text--solid--blue {
  --sao-badge-text-color: var(--sao-palette-color-branding-foreground-50);
  --sao-badge-background-color: var(--sao-palette-color-global-blue-700);
}
.sao-badge-text--solid--purple {
  --sao-badge-text-color: var(--sao-palette-color-branding-foreground-50);
  --sao-badge-background-color: var(--sao-palette-color-global-purple-700);
}
.sao-badge-text--solid--error {
  --sao-badge-text-color: var(--sao-palette-color-branding-foreground-50);
  --sao-badge-background-color: var(--sao-palette-color-branding-error-700);
}
.sao-badge-text--solid--success {
  --sao-badge-text-color: var(--sao-palette-color-branding-foreground-50);
  --sao-badge-background-color: var(--sao-palette-color-branding-success-700);
}
.sao-badge-text--solid--warning {
  --sao-badge-text-color: var(--sao-palette-color-branding-foreground-50);
  --sao-badge-background-color: var(--sao-palette-color-branding-warning-600);
}
.sao-badge-text--solid--cyan {
  --sao-badge-text-color: var(--sao-palette-color-branding-foreground-50);
  --sao-badge-background-color: var(--sao-palette-color-global-cyan-500);
}
