.sao-button {
  border-radius: var(--sao-button-border-radius, 8px);
  font-family: 'Work Sans', serif;
  font-weight: 500;
  font-size: var(--sao-button-font-size, var(--sao-typography-b3-font-size));
  line-height: var(
    --sao-button-line-height,
    var(--sao-typography-b3-line-height)
  );
  color: var(
    --sao-button-text-color,
    var(--sao-palette-color-branding-foreground-50)
  );
  border: 1px solid var(--sao-button-border-color, unset);
  background: var(
    --sao-button-background,
    var(--sao-palette-image-gradient-primary-100)
  );
  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: var(--sao-button-gap, 12px);
  width: max-content;
  outline: none;

  &:has(.sao-icon):not(:has(:nth-child(2))) {
    padding: calc(var(--sao-button-padding-y, 12px) - 1px);
  }

  &:not(:has(i)),
  &:has(:nth-child(2)) {
    padding: calc(var(--sao-button-padding-y, 12px) - 1px)
      calc(var(--sao-button-padding-x, 18px) - 1px);
  }

  > .sao-icon {
    --sao-icon-size: var(--sao-button-icon-size, 20px);
    background-color: var(
      --sao-button-text-color,
      var(--sao-palette-color-branding-foreground-50)
    );
  }

  &:disabled,
  &.disabled {
    color: var(
      --sao-button-text-color-disabled,
      var(--sao-palette-color-branding-foreground-700)
    );
    background: var(
      --sao-button-background-disabled,
      var(--sao-palette-color-branding-foreground-900)
    );

    > .sao-icon {
      background-color: var(
        --sao-button-text-color-disabled,
        var(--sao-palette-color-branding-foreground-700)
      );
    }
  }

  &:not(:disabled):not(.disabled) {
    &:hover {
      cursor: pointer;
      color: var(
        --sao-button-text-color-hover,
        var(--sao-palette-color-branding-foreground-50)
      );
      background: var(
        --sao-button-background-hover,
        var(--sao-palette-image-gradient-primary-200)
      );
      border-color: var(--sao-button-border-color-hover, unset);

      > .sao-icon {
        background-color: var(
          --sao-button-text-color-hover,
          var(--sao-palette-color-branding-foreground-50)
        );
      }
    }

    &:active {
      cursor: pointer;
      color: var(
        --sao-button-text-color-active,
        var(--sao-palette-color-branding-foreground-50)
      );
      background: var(
        --sao-button-background-active,
        var(--sao-palette-color-branding-primary-600)
      );
      border-color: var(--sao-button-border-color-active, unset);

      > .sao-icon {
        background-color: var(
          --sao-button-text-color-active,
          var(--sao-palette-color-branding-foreground-50)
        );
      }
    }

    &:focus-visible {
      cursor: pointer;
      color: var(
        --sao-button-text-color-focus,
        var(--sao-palette-color-branding-foreground-50)
      );
      background: var(
        --sao-button-background-focus,
        var(--sao-palette-image-gradient-primary-100)
      );
      border-color: var(--sao-button-border-color-focus, unset);
      box-shadow: 0 0 0 var(--sao-button-shadow-width, 4px)
        var(
          --sao-button-shadow-color,
          rgba(var(--sao-palette-color-global-purple-500-rgb), 0.4)
        );

      > .sao-icon {
        background-color: var(
          --sao-button-text-color-focus,
          var(--sao-palette-color-branding-foreground-50)
        );
      }
    }
  }

  &--xsmall {
    --sao-button-padding-y: 6px;
    --sao-button-padding-x: 12px;
    --sao-button-font-size: var(--sao-typography-b4-font-size);
    --sao-button-line-height: var(--sao-typography-b4-line-height);
    --sao-button-border-radius: 8px;
    --sao-button-shadow-width: 4px;
    --sao-button-gap: 8px;
    --sao-button-icon-size: 20px;
  }

  &--small {
    --sao-button-padding-y: 8px;
    --sao-button-padding-x: 12px;
    --sao-button-font-size: var(--sao-typography-b4-font-size);
    --sao-button-line-height: var(--sao-typography-b4-line-height);
    --sao-button-border-radius: 8px;
    --sao-button-shadow-width: 4px;
    --sao-button-gap: 8px;
    --sao-button-icon-size: 20px;
  }

  &--medium {
    --sao-button-padding-y: 10px;
    --sao-button-padding-x: 16px;
    --sao-button-font-size: var(--sao-typography-b4-font-size);
    --sao-button-line-height: var(--sao-typography-b4-line-height);
    --sao-button-border-radius: 8px;
    --sao-button-shadow-width: 4px;
    --sao-button-gap: 8px;
    --sao-button-icon-size: 20px;
  }

  &--default {
    --sao-button-padding-y: 12px;
    --sao-button-padding-x: 18px;
    --sao-button-font-size: var(--sao-typography-b3-font-size);
    --sao-button-line-height: var(--sao-typography-b3-line-height);
    --sao-button-border-radius: 8px;
    --sao-button-shadow-width: 4px;
    --sao-button-gap: 12px;
    --sao-button-icon-size: 20px;
  }

  &--large {
    --sao-button-padding-y: 14px;
    --sao-button-padding-x: 20px;
    --sao-button-font-size: var(--sao-typography-b3-font-size);
    --sao-button-line-height: var(--sao-typography-b3-line-height);
    --sao-button-border-radius: 8px;
    --sao-button-shadow-width: 4px;
    --sao-button-gap: 12px;
    --sao-button-icon-size: 20px;
  }

  &--xlarge {
    --sao-button-padding-y: 16px;
    --sao-button-padding-x: 24px;
    --sao-button-font-size: var(--sao-typography-b2-font-size);
    --sao-button-line-height: var(--sao-typography-b2-line-height);
    --sao-button-border-radius: 10px;
    --sao-button-shadow-width: 4px;
    --sao-button-gap: 12px;
    --sao-button-icon-size: 24px;
  }

  &--primary {
    --sao-button-text-color: var(--sao-palette-color-branding-foreground-50);
    --sao-button-background: var(--sao-palette-image-gradient-primary-100);
    --sao-button-border-color: unset;

    --sao-button-text-color-hover: var(
      --sao-palette-color-branding-foreground-50
    );
    --sao-button-background-hover: var(
      --sao-palette-image-gradient-primary-200
    );
    --sao-button-border-color-hover: unset;

    --sao-button-text-color-active: var(
      --sao-palette-color-branding-foreground-50
    );
    --sao-button-background-active: var(
      --sao-palette-color-branding-primary-600
    );
    --sao-button-border-color-active: unset;

    --sao-button-text-color-focus: var(
      --sao-palette-color-branding-foreground-50
    );
    --sao-button-background-focus: var(
      --sao-palette-image-gradient-primary-100
    );
    --sao-button-border-color-focus: unset;

    --sao-button-text-color-disabled: var(
      --sao-palette-color-branding-foreground-700
    );
    --sao-button-background-disabled: var(
      --sao-palette-color-branding-foreground-900
    );
    --sao-button-shadow-color: rgba(
      var(--sao-palette-color-global-purple-500-rgb),
      0.4
    );
  }

  &--error {
    --sao-button-text-color: var(--sao-palette-color-branding-foreground-50);
    --sao-button-background: var(--sao-palette-color-branding-error-800);
    --sao-button-border-color: unset;

    --sao-button-text-color-hover: var(
      --sao-palette-color-branding-foreground-50
    );
    --sao-button-background-hover: var(--sao-palette-color-branding-error-600);
    --sao-button-border-color-hover: unset;

    --sao-button-text-color-active: var(
      --sao-palette-color-branding-foreground-50
    );
    --sao-button-background-active: var(--sao-palette-color-branding-error-900);
    --sao-button-border-color-active: unset;

    --sao-button-text-color-focus: var(
      --sao-palette-color-branding-foreground-50
    );
    --sao-button-background-focus: var(--sao-palette-color-branding-error-800);
    --sao-button-border-color-focus: unset;

    --sao-button-text-color-disabled: var(
      --sao-palette-color-branding-foreground-700
    );
    --sao-button-background-disabled: var(
      --sao-palette-color-branding-foreground-900
    );
    --sao-button-shadow-color: rgba(
      var(--sao-palette-color-branding-error-600-rgb),
      0.6
    );
  }

  &--success {
    --sao-button-text-color: var(--sao-palette-color-branding-foreground-50);
    --sao-button-background: var(--sao-palette-color-branding-success-700);
    --sao-button-border-color: unset;

    --sao-button-text-color-hover: var(
      --sao-palette-color-branding-foreground-50
    );
    --sao-button-background-hover: var(
      --sao-palette-color-branding-success-600
    );
    --sao-button-border-color-hover: unset;

    --sao-button-text-color-active: var(
      --sao-palette-color-branding-foreground-50
    );
    --sao-button-background-active: var(
      --sao-palette-color-branding-success-800
    );
    --sao-button-border-color-active: unset;

    --sao-button-text-color-focus: var(
      --sao-palette-color-branding-foreground-50
    );
    --sao-button-background-focus: var(
      --sao-palette-color-branding-success-700
    );
    --sao-button-border-color-focus: unset;

    --sao-button-text-color-disabled: var(
      --sao-palette-color-branding-foreground-700
    );
    --sao-button-background-disabled: var(
      --sao-palette-color-branding-foreground-900
    );
    --sao-button-shadow-color: rgba(
      var(--sao-palette-color-branding-success-600-rgb),
      0.6
    );
  }

  &--secondary {
    --sao-button-text-color: var(--sao-palette-color-branding-foreground-50);
    --sao-button-background: var(--sao-palette-color-branding-foreground-800);
    --sao-button-border-color: unset;

    --sao-button-text-color-hover: var(
      --sao-palette-color-branding-foreground-50
    );
    --sao-button-background-hover: var(
      --sao-palette-color-branding-foreground-600
    );
    --sao-button-border-color-hover: unset;

    --sao-button-text-color-active: var(
      --sao-palette-color-branding-foreground-50
    );
    --sao-button-background-active: var(
      --sao-palette-color-branding-foreground-900
    );
    --sao-button-border-color-active: unset;

    --sao-button-text-color-focus: var(
      --sao-palette-color-branding-foreground-50
    );
    --sao-button-background-focus: var(
      --sao-palette-color-branding-foreground-800
    );
    --sao-button-border-color-focus: unset;

    --sao-button-text-color-disabled: var(
      --sao-palette-color-branding-foreground-700
    );
    --sao-button-background-disabled: var(
      --sao-palette-color-branding-foreground-900
    );
    --sao-button-shadow-color: var(--sao-palette-color-branding-foreground-o24);
  }

  &--tertiary {
    --sao-button-text-color: var(--sao-palette-color-branding-foreground-50);
    --sao-button-background: var(--sao-palette-color-branding-primary-o24);
    --sao-button-border-color: var(--sao-palette-color-branding-primary-600);

    --sao-button-text-color-hover: var(
      --sao-palette-color-branding-foreground-50
    );
    --sao-button-background-hover: var(
      --sao-palette-color-branding-primary-600
    );
    --sao-button-border-color-hover: unset;

    --sao-button-text-color-active: var(
      --sao-palette-color-branding-foreground-50
    );
    --sao-button-background-active: var(
      --sao-palette-color-branding-primary-o24
    );
    --sao-button-border-color-active: var(
      --sao-palette-color-branding-primary-300
    );

    --sao-button-text-color-focus: var(
      --sao-palette-color-branding-foreground-50
    );
    --sao-button-background-focus: var(
      --sao-palette-color-branding-primary-o24
    );
    --sao-button-border-color-focus: var(
      --sao-palette-color-branding-primary-600
    );

    --sao-button-text-color-disabled: var(
      --sao-palette-color-branding-foreground-700
    );
    --sao-button-background-disabled: var(
      --sao-palette-color-branding-foreground-900
    );
    --sao-button-shadow-color: var(--sao-palette-color-branding-primary-o24);
  }

  &--ghost {
    --sao-button-text-color: var(--sao-palette-color-branding-primary-400);
    --sao-button-background: transparent;
    --sao-button-border-color: unset;

    --sao-button-text-color-hover: var(
      --sao-palette-color-branding-primary-400
    );
    --sao-button-background-hover: var(
      --sao-palette-color-branding-primary-o24
    );
    --sao-button-border-color-hover: unset;

    --sao-button-text-color-active: var(
      --sao-palette-color-branding-primary-50
    );
    --sao-button-background-active: var(
      --sao-palette-color-branding-primary-700
    );
    --sao-button-border-color-active: unset;

    --sao-button-text-color-focus: var(
      --sao-palette-color-branding-primary-400
    );
    --sao-button-background-focus: var(
      --sao-palette-color-branding-primary-900
    );
    --sao-button-border-color-focus: unset;

    --sao-button-text-color-disabled: var(
      --sao-palette-color-branding-foreground-600
    );
    --sao-button-background-disabled: transparent;

    --sao-button-shadow-color: rgba(
      var(--sao-palette-color-branding-primary-600-rgb),
      0.25
    );
  }
}
