.sao-input {
  flex: 1 1 0;
  font-family: 'Work Sans', serif;
  font-size: var(--sao-control-font-size, var(--sao-typography-b3-font-size));
  line-height: var(
    --sao-control-line-height,
    var(--sao-typography-b3-line-height)
  );
  color: var(
    --sao-control-text-color,
    var(--sao-palette-color-branding-foreground-50)
  );
  outline: none;
  border: none;
  background: transparent;
  padding: 0;

  &::placeholder {
    color: var(
      --sao-control-placeholder-color,
      var(--sao-palette-color-branding-foreground-600)
    );
  }

  &::-webkit-calendar-picker-indicator {
    background-color: var(--sao-control-icon-color);
    display: inline-block;
    width: var(--sao-icon-size, 24px);
    height: var(--sao-icon-size, 24px);
    background-size: contain;
    background-repeat: no-repeat;
    -webkit-mask-image: var(--sao-icon-filtered-action-perm-contact-calendar);
    mask-image: var(--sao-icon-filtered-action-perm-contact-calendar);
    mask-size: contain;
    -webkit-mask-repeat: no-repeat;
    mask-repeat: no-repeat;
    -webkit-mask-position: center;
    mask-position: center;
  }
}
