.sao-select {
  display: flex;
  flex-direction: column;
  list-style: none;
  padding: 12px 0;
  border-radius: 12px;
  gap: 10px;
  border: 1px solid var(--sao-palette-color-branding-background-600);
  box-shadow: 0 2px 4px -1px rgba(0, 0, 0);
  background: var(--sao-palette-color-branding-background-900);
  overflow-y: auto;
  max-height: var(--sao-select-max-height, 100%);
}
.sao-select > li,
.sao-select-item {
  width: 100%;
  height: 44px;
  padding: 10px 12px;
  display: inline-flex;
  align-items: center;
  justify-content: space-between;
  cursor: pointer;
  transition-property: background-color;
  transition-duration: 0.15s;
  transition-timing-function: ease-in-out;
  gap: 12px;
}
.sao-select > li.disabled,
.sao-select-item.disabled {
  --sao-select-color: var(--sao-palette-color-branding-foreground-600);
  --sao-select-mark-color: var(--sao-palette-color-branding-foreground-700);
}
.sao-select > li:not(.disabled):hover,
.sao-select-item:not(.disabled):hover {
  background-color: var(--sao-palette-color-branding-background-o30);
}
.sao-select > li:not(.disabled).selected,
.sao-select-item:not(.disabled).selected {
  background-color: var(--sao-palette-color-branding-background-o30);
}
.sao-select > li:not(.disabled).selected > i,
.sao-select-item:not(.disabled).selected > i {
  opacity: 1;
}
.sao-select > li > span,
.sao-select-item > span,
.sao-select > li .sao-select-item__text,
.sao-select-item .sao-select-item__text,
.sao-select > li > .sao-select-item__information > .sao-select-item__text,
.sao-select-item > .sao-select-item__information > .sao-select-item__text,
.sao-select > li > aside > .sao-select-item__text,
.sao-select-item > aside > .sao-select-item__text,
.sao-select > li > aside > span,
.sao-select-item > aside > span {
  font-family: 'Work Sans', serif;
  font-size: var(--sao-typography-b3-font-size);
  line-height: var(--sao-typography-b3-line-height);
  font-weight: 400;
  color: var(
    --sao-select-color,
    var(--sao-palette-color-branding-foreground-50)
  );
}
.sao-select > li > span > mark,
.sao-select-item > span > mark,
.sao-select > li .sao-select-item__text > mark,
.sao-select-item .sao-select-item__text > mark,
.sao-select
  > li
  > .sao-select-item__information
  > .sao-select-item__text
  > mark,
.sao-select-item
  > .sao-select-item__information
  > .sao-select-item__text
  > mark,
.sao-select > li > aside > .sao-select-item__text > mark,
.sao-select-item > aside > .sao-select-item__text > mark,
.sao-select > li > aside > span > mark,
.sao-select-item > aside > span > mark,
.sao-select > li > span .sao-select-item__mark,
.sao-select-item > span .sao-select-item__mark,
.sao-select > li .sao-select-item__text .sao-select-item__mark,
.sao-select-item .sao-select-item__text .sao-select-item__mark,
.sao-select
  > li
  > .sao-select-item__information
  > .sao-select-item__text
  .sao-select-item__mark,
.sao-select-item
  > .sao-select-item__information
  > .sao-select-item__text
  .sao-select-item__mark,
.sao-select > li > aside > .sao-select-item__text .sao-select-item__mark,
.sao-select-item > aside > .sao-select-item__text .sao-select-item__mark,
.sao-select > li > aside > span .sao-select-item__mark,
.sao-select-item > aside > span .sao-select-item__mark {
  color: var(
    --sao-select-mark-color,
    var(--sao-palette-color-branding-primary-600)
  );
  background-color: transparent;
}
.sao-select > li > aside,
.sao-select-item > aside,
.sao-select > li > .sao-select-item__information,
.sao-select-item > .sao-select-item__information {
  display: flex;
  align-items: center;
  gap: 12px;
}
.sao-select > li > aside > .sao-icon,
.sao-select-item > aside > .sao-icon,
.sao-select > li > .sao-select-item__information > .sao-icon,
.sao-select-item > .sao-select-item__information > .sao-icon {
  --sao-icon-size: 24px;
  background-color: var(
    --sao-select-color,
    var(--sao-palette-color-branding-foreground-50)
  );
}
.sao-select > li > .sao-icon,
.sao-select-item > .sao-icon {
  opacity: 0;
  --sao-icon-size: 24px;
  background-color: var(
    --sao-select-mark-color,
    var(--sao-palette-color-branding-primary-600)
  );
}
