.sao-select {
  display: flex;
  flex-direction: column;
  list-style: none;
  padding: 12px 0;
  border-radius: 12px;
  gap: 10px;
  border: 1px solid var(--sao-palette-color-branding-background-600);
  box-shadow: 0 2px 4px -1px
    rgba(var(--sao-palette-color-branding-background-900-rgb), 0.06);
  background: var(--sao-palette-color-branding-background-900);
  overflow-y: auto;
  max-height: var(--sao-select-max-height, 100%);

  > li,
  &-item {
    width: 100%;
    height: 44px;
    padding: 10px 12px;
    display: inline-flex;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;
    transition-property: background-color;
    transition-duration: 0.15s;
    transition-timing-function: ease-in-out;
    gap: 12px;

    &.disabled {
      --sao-select-color: var(--sao-palette-color-branding-foreground-600);
      --sao-select-mark-color: var(--sao-palette-color-branding-foreground-700);
    }

    &:not(.disabled) {
      &:hover {
        background-color: var(--sao-palette-color-branding-background-o30);
      }

      &.selected {
        background-color: var(--sao-palette-color-branding-background-o30);

        > i {
          opacity: 1;
        }
      }
    }

    > span,
    .sao-select-item__text,
    > .sao-select-item__information > .sao-select-item__text,
    > aside > .sao-select-item__text,
    > aside > span {
      font-family: 'Work Sans', serif;
      font-size: var(--sao-typography-b3-font-size);
      line-height: var(--sao-typography-b3-line-height);
      font-weight: 400;
      color: var(
        --sao-select-color,
        var(--sao-palette-color-branding-foreground-50)
      );

      > mark,
      .sao-select-item__mark {
        color: var(
          --sao-select-mark-color,
          var(--sao-palette-color-branding-primary-600)
        );
        background-color: transparent;
      }
    }

    > aside,
    > .sao-select-item__information {
      display: flex;
      align-items: center;
      gap: 12px;

      > .sao-icon {
        --sao-icon-size: 24px;
        color: var(
          --sao-select-color,
          var(--sao-palette-color-branding-foreground-50)
        );
      }
    }

    > .sao-icon {
      opacity: 0;
      --sao-icon-size: 24px;
      color: var(
        --sao-select-mark-color,
        var(--sao-palette-color-branding-primary-600)
      );
    }
  }
}
