.sao-toggle {
  padding: 2px;
  width: var(--sao-toggle-width, 32px);
  border-radius: var(--sao-toggle-radius, 8px);
  position: relative;
  background-color: var(
    --sao-toggle-background-color,
    var(--sao-palette-color-branding-background-700)
  );
}
.sao-toggle::after {
  position: relative;
  left: 0;
  content: '';
  width: var(--sao-toggle-circle-size, 12px);
  height: var(--sao-toggle-circle-size, 12px);
  display: block;
  border-radius: 9999px;
  background-color: var(
    --sao-toggle-circle-color,
    var(--sao-palette-color-branding-foreground-50)
  );
  transition-property: left;
  transition-duration: 0.15s;
  transition-timing-function: ease-in-out;
}
.sao-toggle::before {
  content: '';
  position: absolute;
  display: block;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: calc(100% + 4px);
  height: calc(100% + 4px);
  border-radius: 100px;
}
.sao-toggle > input {
  position: absolute;
  opacity: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
}
.sao-toggle:has(> input:checked)::after {
  left: var(--sao-toggle-circle-left, 16px);
}
.sao-toggle:has(> input:disabled),
.sao-toggle.disabled {
  --sao-toggle-background-color: var(
    --sao-palette-color-branding-foreground-700
  );
  --sao-toggle-circle-color: var(--sao-palette-color-branding-foreground-600);
}
.sao-toggle:not(:has(> input:disabled)):not(.disabled) {
  --sao-toggle-background-color: var(
    --sao-palette-color-branding-background-700
  );
  --sao-toggle-circle-color: var(--sao-palette-color-branding-foreground-50);
}
.sao-toggle:not(:has(> input:disabled)):not(.disabled):has(
    > input:checked
  ):hover {
  --sao-toggle-background-color: var(--sao-palette-color-branding-primary-400);
}
.sao-toggle:not(:has(> input:disabled)):not(.disabled):has(> input:checked):has(
    > input:focus-visible
  ) {
  --sao-toggle-background-color: var(--sao-palette-color-branding-primary-500);
}
.sao-toggle:not(:has(> input:disabled)):not(.disabled):has(> input:checked):has(
    > input:focus-visible
  )::before {
  box-shadow: 0 0 0 2px var(--sao-palette-color-branding-primary-400);
}
.sao-toggle:not(:has(> input:disabled)):not(.disabled):not(
    :has(> input:checked)
  ):hover {
  --sao-toggle-background-color: var(
    --sao-palette-color-branding-background-400
  );
}
.sao-toggle:not(:has(> input:disabled)):not(.disabled):not(
    :has(> input:checked)
  ):has(> input:focus-visible) {
  --sao-toggle-background-color: var(
    --sao-palette-color-branding-background-700
  );
}
.sao-toggle:not(:has(> input:disabled)):not(.disabled):not(
    :has(> input:checked)
  ):has(> input:focus-visible)::before {
  box-shadow: 0 0 0 2px var(--sao-palette-color-branding-primary-400);
}
.sao-toggle--default {
  --sao-toggle-width: 32px;
  --sao-toggle-radius: 8px;
  --sao-toggle-circle-size: 12px;
  --sao-toggle-circle-left: 16px;
}
.sao-toggle--large {
  --sao-toggle-width: 40px;
  --sao-toggle-radius: 10px;
  --sao-toggle-circle-size: 16px;
  --sao-toggle-circle-left: 20px;
}
