.sao-card {
  max-width: var(--sao-card-max-width, 424px);
  border-radius: var(--sao-card-border-radius, 12px);
  border: 1px solid
    var(
      --sao-card-border-color,
      var(--sao-palette-color-branding-background-600)
    );
  background-color: var(--sao-palette-color-branding-background-900);
  box-shadow: 0 4px 6px -1px #000 14;
  display: flex;
  flex-direction: column;
  width: 100%;
}
.sao-card > figure,
.sao-card > .sao-card__placeholder {
  width: 100%;
  aspect-ratio: 1.7777777778;
  border-radius: inherit;
}
.sao-card > figure > img,
.sao-card > .sao-card__placeholder > img,
.sao-card > figure > .sao-card__placeholder-image,
.sao-card > .sao-card__placeholder > .sao-card__placeholder-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: inherit;
}
.sao-card > header,
.sao-card > .sao-card__header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding: var(--sao-card-header-padding, 24px);
}
.sao-card > header > aside,
.sao-card > .sao-card__header > aside,
.sao-card > header > .sao-card__header-aside,
.sao-card > .sao-card__header > .sao-card__header-aside {
  display: flex;
  align-items: center;
  gap: var(--sao-card-header-gap, 12px);
}
.sao-card > header > aside > img,
.sao-card > .sao-card__header > aside > img,
.sao-card > header > .sao-card__header-aside > img,
.sao-card > .sao-card__header > .sao-card__header-aside > img,
.sao-card > header > aside > .sao-card__header-avatar,
.sao-card > .sao-card__header > aside > .sao-card__header-avatar,
.sao-card > header > .sao-card__header-aside > .sao-card__header-avatar,
.sao-card
  > .sao-card__header
  > .sao-card__header-aside
  > .sao-card__header-avatar {
  width: var(--sao-card-header-avatar-size, 40px);
  height: var(--sao-card-header-avatar-size, 40px);
  border-radius: 9999px;
  border: 1px solid var(--sao-palette-color-branding-background-800);
}
.sao-card > header > aside > label,
.sao-card > .sao-card__header > aside > label,
.sao-card > header > .sao-card__header-aside > label,
.sao-card > .sao-card__header > .sao-card__header-aside > label,
.sao-card > header > aside > .sao-card__header-information,
.sao-card > .sao-card__header > aside > .sao-card__header-information,
.sao-card > header > .sao-card__header-aside > .sao-card__header-information,
.sao-card
  > .sao-card__header
  > .sao-card__header-aside
  > .sao-card__header-information {
  display: flex;
  flex-direction: column;
  gap: var(--sao-card-header-title-gap, 2px);
}
.sao-card > header > aside > label > h6,
.sao-card > .sao-card__header > aside > label > h6,
.sao-card > header > .sao-card__header-aside > label > h6,
.sao-card > .sao-card__header > .sao-card__header-aside > label > h6,
.sao-card > header > aside > .sao-card__header-information > h6,
.sao-card > .sao-card__header > aside > .sao-card__header-information > h6,
.sao-card
  > header
  > .sao-card__header-aside
  > .sao-card__header-information
  > h6,
.sao-card
  > .sao-card__header
  > .sao-card__header-aside
  > .sao-card__header-information
  > h6,
.sao-card > header > aside > label > .sao-card__header-information-title,
.sao-card
  > .sao-card__header
  > aside
  > label
  > .sao-card__header-information-title,
.sao-card
  > header
  > .sao-card__header-aside
  > label
  > .sao-card__header-information-title,
.sao-card
  > .sao-card__header
  > .sao-card__header-aside
  > label
  > .sao-card__header-information-title,
.sao-card
  > header
  > aside
  > .sao-card__header-information
  > .sao-card__header-information-title,
.sao-card
  > .sao-card__header
  > aside
  > .sao-card__header-information
  > .sao-card__header-information-title,
.sao-card
  > header
  > .sao-card__header-aside
  > .sao-card__header-information
  > .sao-card__header-information-title,
.sao-card
  > .sao-card__header
  > .sao-card__header-aside
  > .sao-card__header-information
  > .sao-card__header-information-title {
  font-family: 'Work Sans', serif;
  font-size: var(
    --sao-card-header-title-font-size,
    var(--sao-typography-b3-font-size)
  );
  line-height: var(
    --sao-card-header-title-line-height,
    var(--sao-typography-b3-line-height)
  );
  color: var(--sao-palette-color-branding-foreground-50);
  font-weight: 600;
  margin: 0;
}
.sao-card > header > aside > label > p,
.sao-card > .sao-card__header > aside > label > p,
.sao-card > header > .sao-card__header-aside > label > p,
.sao-card > .sao-card__header > .sao-card__header-aside > label > p,
.sao-card > header > aside > .sao-card__header-information > p,
.sao-card > .sao-card__header > aside > .sao-card__header-information > p,
.sao-card
  > header
  > .sao-card__header-aside
  > .sao-card__header-information
  > p,
.sao-card
  > .sao-card__header
  > .sao-card__header-aside
  > .sao-card__header-information
  > p,
.sao-card > header > aside > label > .sao-card__header-information-description,
.sao-card
  > .sao-card__header
  > aside
  > label
  > .sao-card__header-information-description,
.sao-card
  > header
  > .sao-card__header-aside
  > label
  > .sao-card__header-information-description,
.sao-card
  > .sao-card__header
  > .sao-card__header-aside
  > label
  > .sao-card__header-information-description,
.sao-card
  > header
  > aside
  > .sao-card__header-information
  > .sao-card__header-information-description,
.sao-card
  > .sao-card__header
  > aside
  > .sao-card__header-information
  > .sao-card__header-information-description,
.sao-card
  > header
  > .sao-card__header-aside
  > .sao-card__header-information
  > .sao-card__header-information-description,
.sao-card
  > .sao-card__header
  > .sao-card__header-aside
  > .sao-card__header-information
  > .sao-card__header-information-description {
  font-family: 'Work Sans', serif;
  font-size: var(
    --sao-card-header-sub-title-font-size,
    var(--sao-typography-b3-font-size)
  );
  line-height: var(
    --sao-card-header-sub-title-line-height,
    var(--sao-typography-b3-line-height)
  );
  color: var(--sao-palette-color-branding-foreground-600);
  font-weight: 400;
  margin: 0;
}
.sao-card > header > .sao-icon,
.sao-card > .sao-card__header > .sao-icon {
  --sao-icon-size: var(--sao-card-header-icon-size, 28px);
  color: var(--sao-palette-color-branding-foreground-600);
}
.sao-card > header + figure,
.sao-card > .sao-card__header + figure,
.sao-card > header + .sao-card__placeholder,
.sao-card > .sao-card__header + .sao-card__placeholder {
  aspect-ratio: 2.6666666667;
  border-radius: 0;
}
.sao-card > header + main,
.sao-card > .sao-card__header + main,
.sao-card > header + .sao-card__main,
.sao-card > .sao-card__header + .sao-card__main {
  padding: 0 var(--sao-card-content-padding, 24px)
    var(--sao-card-content-padding, 24px) var(--sao-card-content-padding, 24px);
}
.sao-card > main,
.sao-card > .sao-card__main {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: var(--sao-card-content-gap, 12px);
  padding: var(--sao-card-content-padding, 24px);
}
.sao-card > main > h2,
.sao-card > .sao-card__main > h2,
.sao-card > main > .sao-card__main-title,
.sao-card > .sao-card__main > .sao-card__main-title {
  font-family: 'Work Sans', serif;
  font-size: var(
    --sao-card-content-title-font-size,
    var(--sao-typography-h6-font-size)
  );
  line-height: var(
    --sao-card-content-title-line-height,
    var(--sao-typography-h6-line-height)
  );
  color: var(--sao-palette-color-branding-foreground-50);
  font-weight: 600;
  margin: 0;
}
.sao-card > main > p,
.sao-card > .sao-card__main > p,
.sao-card > main > .sao-card__main-description,
.sao-card > .sao-card__main > .sao-card__main-description {
  font-family: 'Work Sans', serif;
  font-size: var(
    --sao-card-content-description-font-size,
    var(--sao-typography-b3-font-size)
  );
  line-height: var(
    --sao-card-content-description-line-height,
    var(--sao-typography-b3-line-height)
  );
  color: var(--sao-palette-color-branding-foreground-50);
  font-weight: 400;
  margin: 0;
}
.sao-card > footer,
.sao-card > .sao-card__footer {
  width: 100%;
  padding: 0 var(--sao-card-footer-padding, 24px)
    var(--sao-card-footer-padding, 24px) var(--sao-card-footer-padding, 24px);
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: var(--sao-card-footer-gap, 16px);
}
.sao-card--small {
  --sao-card-max-width: 360px;
  --sao-card-content-title-font-size: var(--sao-typography-b1-font-size);
  --sao-card-content-title-line-height: var(--sao-typography-b1-line-height);
  --sao-card-content-description-font-size: var(--sao-typography-b4-font-size);
  --sao-card-content-description-line-height: var(
    --sao-typography-b4-line-height
  );
  --sao-card-content-gap: 8px;
  --sao-card-content-padding: 16px;
  --sao-card-header-padding: 16px;
  --sao-card-header-gap: 12px;
  --sao-card-header-title-gap: 2px;
  --sao-card-header-avatar-size: 32px;
  --sao-card-header-title-font-size: var(--sao-typography-b4-font-size);
  --sao-card-header-title-line-height: var(--sao-typography-b4-line-height);
  --sao-card-header-sub-title-font-size: var(--sao-typography-b4-font-size);
  --sao-card-header-sub-title-line-height: var(--sao-typography-b4-line-height);
  --sao-card-header-icon-size: 24px;
  --sao-card-footer-padding: 16px;
  --sao-card-footer-gap: 16px;
}
.sao-card--default {
  --sao-card-max-width: 424px;
  --sao-card-content-title-font-size: var(--sao-typography-h6-font-size);
  --sao-card-content-title-line-height: var(--sao-typography-h6-line-height);
  --sao-card-content-description-font-size: var(--sao-typography-b3-font-size);
  --sao-card-content-description-line-height: var(
    --sao-typography-b3-line-height
  );
  --sao-card-content-gap: 12px;
  --sao-card-content-padding: 24px;
  --sao-card-header-padding: 24px;
  --sao-card-header-gap: 12px;
  --sao-card-header-title-gap: 2px;
  --sao-card-header-avatar-size: 40px;
  --sao-card-header-title-font-size: var(--sao-typography-b3-font-size);
  --sao-card-header-title-line-height: var(--sao-typography-b3-line-height);
  --sao-card-header-sub-title-font-size: var(--sao-typography-b3-font-size);
  --sao-card-header-sub-title-line-height: var(--sao-typography-b3-line-height);
  --sao-card-header-icon-size: 28px;
  --sao-card-footer-padding: 24px;
  --sao-card-footer-gap: 16px;
}
