.sao-card {
  max-width: var(--sao-card-max-width, 424px);
  border-radius: var(--sao-card-border-radius, 12px);
  border: 1px solid
    var(
      --sao-card-border-color,
      var(--sao-palette-color-branding-background-600)
    );
  background-color: var(--sao-palette-color-branding-background-900);
  box-shadow: 0 4px 6px -1px #00000014;
  display: flex;
  flex-direction: column;
  width: 100%;

  > figure,
  > .sao-card__placeholder {
    width: 100%;
    aspect-ratio: 16 / 9;
    border-radius: inherit;

    > img,
    > .sao-card__placeholder-image {
      width: 100%;
      height: 100%;
      object-fit: cover;
      border-radius: inherit;
    }
  }

  > header,
  > .sao-card__header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding: var(--sao-card-header-padding, 24px);

    > aside,
    > .sao-card__header-aside {
      display: flex;
      align-items: center;
      gap: var(--sao-card-header-gap, 12px);

      > img,
      > .sao-card__header-avatar {
        width: var(--sao-card-header-avatar-size, 40px);
        height: var(--sao-card-header-avatar-size, 40px);
        border-radius: 9999px;
        border: 1px solid var(--sao-palette-color-branding-background-800);
      }

      > label,
      > .sao-card__header-information {
        display: flex;
        flex-direction: column;
        gap: var(--sao-card-header-title-gap, 2px);

        > h6,
        > .sao-card__header-information-title {
          font-family: 'Work Sans', serif;
          font-size: var(
            --sao-card-header-title-font-size,
            var(--sao-typography-b3-font-size)
          );
          line-height: var(
            --sao-card-header-title-line-height,
            var(--sao-typography-b3-line-height)
          );
          color: var(--sao-palette-color-branding-foreground-50);
          font-weight: 600;
          margin: 0;
        }

        > p,
        > .sao-card__header-information-description {
          font-family: 'Work Sans', serif;
          font-size: var(
            --sao-card-header-sub-title-font-size,
            var(--sao-typography-b3-font-size)
          );
          line-height: var(
            --sao-card-header-sub-title-line-height,
            var(--sao-typography-b3-line-height)
          );
          color: var(--sao-palette-color-branding-foreground-600);
          font-weight: 400;
          margin: 0;
        }
      }
    }

    > .sao-icon {
      --sao-icon-size: var(--sao-card-header-icon-size, 28px);
      color: var(--sao-palette-color-branding-foreground-600);
    }

    & + figure,
    & + .sao-card__placeholder {
      aspect-ratio: 24 / 9;
      border-radius: 0;
    }

    & + main,
    & + .sao-card__main {
      padding: 0 var(--sao-card-content-padding, 24px)
        var(--sao-card-content-padding, 24px)
        var(--sao-card-content-padding, 24px);
    }
  }

  > main,
  > .sao-card__main {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: var(--sao-card-content-gap, 12px);
    padding: var(--sao-card-content-padding, 24px);

    > h2,
    > .sao-card__main-title {
      font-family: 'Work Sans', serif;
      font-size: var(
        --sao-card-content-title-font-size,
        var(--sao-typography-h6-font-size)
      );
      line-height: var(
        --sao-card-content-title-line-height,
        var(--sao-typography-h6-line-height)
      );
      color: var(--sao-palette-color-branding-foreground-50);
      font-weight: 600;
      margin: 0;
    }

    > p,
    > .sao-card__main-description {
      font-family: 'Work Sans', serif;
      font-size: var(
        --sao-card-content-description-font-size,
        var(--sao-typography-b3-font-size)
      );
      line-height: var(
        --sao-card-content-description-line-height,
        var(--sao-typography-b3-line-height)
      );
      color: var(--sao-palette-color-branding-foreground-50);
      font-weight: 400;
      margin: 0;
    }
  }

  > footer,
  > .sao-card__footer {
    width: 100%;
    padding: 0 var(--sao-card-footer-padding, 24px)
      var(--sao-card-footer-padding, 24px) var(--sao-card-footer-padding, 24px);
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: var(--sao-card-footer-gap, 16px);
  }

  &--small {
    --sao-card-max-width: 360px;
    --sao-card-content-title-font-size: var(--sao-typography-b1-font-size);
    --sao-card-content-title-line-height: var(--sao-typography-b1-line-height);
    --sao-card-content-description-font-size: var(
      --sao-typography-b4-font-size
    );
    --sao-card-content-description-line-height: var(
      --sao-typography-b4-line-height
    );
    --sao-card-content-gap: 8px;
    --sao-card-content-padding: 16px;
    --sao-card-header-padding: 16px;
    --sao-card-header-gap: 12px;
    --sao-card-header-title-gap: 2px;
    --sao-card-header-avatar-size: 32px;
    --sao-card-header-title-font-size: var(--sao-typography-b4-font-size);
    --sao-card-header-title-line-height: var(--sao-typography-b4-line-height);
    --sao-card-header-sub-title-font-size: var(--sao-typography-b4-font-size);
    --sao-card-header-sub-title-line-height: var(
      --sao-typography-b4-line-height
    );
    --sao-card-header-icon-size: 24px;
    --sao-card-footer-padding: 16px;
    --sao-card-footer-gap: 16px;
  }

  &--default {
    --sao-card-max-width: 424px;
    --sao-card-content-title-font-size: var(--sao-typography-h6-font-size);
    --sao-card-content-title-line-height: var(--sao-typography-h6-line-height);
    --sao-card-content-description-font-size: var(
      --sao-typography-b3-font-size
    );
    --sao-card-content-description-line-height: var(
      --sao-typography-b3-line-height
    );
    --sao-card-content-gap: 12px;
    --sao-card-content-padding: 24px;
    --sao-card-header-padding: 24px;
    --sao-card-header-gap: 12px;
    --sao-card-header-title-gap: 2px;
    --sao-card-header-avatar-size: 40px;
    --sao-card-header-title-font-size: var(--sao-typography-b3-font-size);
    --sao-card-header-title-line-height: var(--sao-typography-b3-line-height);
    --sao-card-header-sub-title-font-size: var(--sao-typography-b3-font-size);
    --sao-card-header-sub-title-line-height: var(
      --sao-typography-b3-line-height
    );
    --sao-card-header-icon-size: 28px;
    --sao-card-footer-padding: 24px;
    --sao-card-footer-gap: 16px;
  }
}
