.sao-carousel--vertical {
  display: flex;
  flex-direction: column;
  gap: 6px;
}
.sao-carousel--vertical > * {
  width: 4px;
  border-radius: 16px;
  transition-property: height, background-color;
  transition-duration: 0.3s;
  transition-timing-function: ease-in-out;
}
.sao-carousel--vertical > *:not(.active) {
  height: 16px;
  background-color: var(--sao-palette-color-branding-foreground-o30);
}
.sao-carousel--vertical > *.active {
  height: 32px;
  background-color: var(--sao-palette-color-branding-foreground-50);
}
.sao-carousel--horizontal {
  display: flex;
  flex-direction: row;
  gap: 6px;
}
.sao-carousel--horizontal > * {
  height: 4px;
  border-radius: 16px;
  transition-property: width, background-color;
  transition-duration: 0.3s;
  transition-timing-function: ease-in-out;
}
.sao-carousel--horizontal > *:not(.active) {
  width: 16px;
  background-color: var(--sao-palette-color-branding-foreground-o30);
}
.sao-carousel--horizontal > *.active {
  width: 32px;
  background-color: var(--sao-palette-color-branding-foreground-50);
}
