.sao-table {
  border-collapse: collapse;
  width: 100%;
}
.sao-table thead > tr > th {
  background-color: var(--sao-palette-color-branding-background-800);
  padding: 14px 16px;
}
.sao-table tbody > tr > td {
  padding: 12px 16px;
}
.sao-table tfoot > tr > td {
  padding: 12px 16px;
}
.sao-table-header {
  display: inline-flex;
  align-items: center;
  justify-content: space-between;
  gap: 8px;
  width: 100%;
}
.sao-table-header > .sao-icon {
  --sao-icon-size: 20px;
  color: var(--sao-palette-color-branding-foreground-50);
}
.sao-table-header > *:not(.sao-icon) {
  color: var(--sao-palette-color-branding-foreground-50);
  font-family: 'Work Sans', serif;
  font-size: var(--sao-typography-b4-font-size);
  line-height: var(--sao-typography-b4-line-height);
  font-weight: 500;
}
.sao-table--bordered tbody > tr > td {
  border-top: 1px solid var(--sao-palette-color-branding-background-700);
}
.sao-table--bordered tfoot > tr > td {
  border-top: 1px solid var(--sao-palette-color-branding-background-700);
}
.sao-table--hoverable tbody > tr:hover {
  background-color: var(--sao-palette-color-branding-background-700);
}
.sao-table--hoverable tfoot > tr:hover {
  background-color: var(--sao-palette-color-branding-background-700);
}
